{% extends 'base.html' %}
{% load my_tags %}

{% block title %}Главная страница{% endblock %}

{% block content %}
{% include 'includes/incl_menu.html' %}
<div class="container">
    <h1 class="text-center">Добро пожаловать на наш сайт!</h1>
    <p class="text-center">Это главная страница нашего сайта.</p>
</div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <!-- row-cols-1, row-cols-md-3: для одной колонки на мобильных и трех на средних экранах -->
        {% for product in products %}
        <div class="col">  <!-- col: для автоматической компоновки в строку -->
            <div class="container mt-5">
            <div class="card" style="width: 18rem;">
                <img src="{{ product.photo | media_filter }}" class="card-img-top" alt="{{ product.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description | truncatechars:100 }}</p>
                    <a href="{% url 'catalog:product_details' product.id %}" class="btn btn-primary">Посмотреть</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
