{% extends 'base.html' %}
{% load my_tags %}

{% block title %}Информация о товаре{% endblock %}

{% block content %}
{% include 'includes/incl_menu.html' %}
<h2>{{ product.name }}</h2>
<div class="card" style="width: 18rem;">
  <img src="{{ product.photo | media_filter }}" class="card-img-top">
  <div class="card-body">
    <p class="card-text">Категория: {{ product.category }}</p>
    <p class="card-text">Описание: {{ product.description }}</p>
    <p class="card-text">Цена: {{ product.price}}</p>
    <p class="card-text">Обновлено: {{ product.updated_at | date:"d M Y"}}</p>
    <a href="{% url 'catalog:product_update' product.pk %}" class="btn btn-secondary">Редактировать</a>
    <a href="{% url 'catalog:home' %}" class="btn btn-primary">Назад</a>
  </div>
</div>

{% endblock %}